.register_title {
    text-align: center;
    color: #242424;
    margin-bottom: 20px 0px;
    text-decoration: underline;
}

.register-container {
    padding-top: 0px;
    background-color: #ffffff;
}