body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    padding-top: 20px;
    color: white;
    position: absolute;
    height: 97.4%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li#active {
    background-color: #34495e;
}

.sidebar ul li#red {
    background-color: #e74c3c;
}

.sidebar ul li#red a {
    color: white;
}

.sidebar ul li#website-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    color:black
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    gap: 20px;
}

.stat-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.stat-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 18px;
    margin: 0;
}

.chart-container {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container h2 {
    margin-bottom: 20px;
}
