.ai_body {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 12%;
    right: 1%;
    z-index: 20;
}

.assistant-header {
    background-color: #87CEEB;
    border-radius: 50px;
    padding: 20px;
    color: #4682B4;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#minimize_button {
    margin-left: auto;
}

.assistant-text {
    margin-right: 20px;
}

.cs-main-container {
    width: 400px;
    height: 450px !important;
    margin-top: 5px;
    border: 10px solid #87CEEB;
    border-radius: 10px;
}

.cs-message-list {
    background-color: #87CEEB;
    font-size: 20px;
    border-bottom: 2px solid #4682B4;
    max-height: 860px;
}

.scrollbar-container {
    &.cs-message-list__scroll-wrapper {
        &.ps {
            padding: 10px;
            padding-right: 20px;
        }
    }
}

.cs-message__content-wrapper {
    z-index: 20 !important;
}

.cs-message__content {
    font-weight: 600;
    background-color: #B0E0E6;
    color: #4682B4;
}

.cs-message--outgoing .cs-message__content {
    color: #B0E0E6;
    background-color: #4682B4;
}

.cs-message {
    padding-top: 5px;
}

.cs-typing-indicator {
    background-color: #87CEEB !important;
    z-index: 1 !important;
}

.cs-typing-indicator__text {
    font-family: 'Rocky' !important;
    color: #4682B4 !important;
}

.cs-typing-indicator__dot {
    background-color: #4682B4 !important;
}

.ps__thumb-y {
    background-color: #4682B4 !important;
}

.ps__rail-y {
    background-color: #B0E0E6 !important;
}

.cs-message-input {
    font-weight: 600;
    font-size: 20px;
    background-color: #4682B4 !important;
    border-top: 0px !important;
}

.cs-message-input__content-editor-wrapper {
    background-color: #B0E0E6 !important;
}

.cs-message-input__content-editor {
    background-color: #B0E0E6 !important;
    color: #4682B4 !important;
}

.cs-button {
    color: #B0E0E6 !important;
}
