.ai_body {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 12%;
    left: 45%;
    z-index: 20;
    background-color: #87CEEB; /* Sky blue */
    border-radius: 50px;
    padding: 20px;
    color: #4682B4; /* Steel blue */
    font-size: large;
}

.minimize_button {
    position: fixed;
    top: 5%;
    right: 5%;
    margin: 10px;
}

.cs-main-container {
    width: 400px;
    height: 450px !important;
    margin-top: 5px;
    border: 10px solid #87CEEB; /* Sky blue */
    border-radius: 10px;
}

.cs-message-list {
    background-color: #87CEEB; /* Sky blue */
    font-size: 20px;
    border-bottom: 2px solid #4682B4; /* Steel blue */
    max-height: 860px;
}

.scrollbar-container {
    &.cs-message-list__scroll-wrapper {
        &.ps {
            padding: 10px;
            padding-right: 20px;
        }
    }
}

.cs-message__content-wrapper {
    z-index: 20 !important;
}

.cs-message__content {
    font-weight: 600;
    background-color: #B0E0E6; /* Powder blue */
    color: #4682B4; /* Steel blue */
}

.cs-message--outgoing .cs-message__content {
    color: #B0E0E6; /* Powder blue */
    background-color: #4682B4; /* Steel blue */
}

.cs-message {
    padding-top: 5px;
}

.cs-typing-indicator {
    background-color: #87CEEB !important; /* Sky blue */
    z-index: 1 !important;
}

.cs-typing-indicator__text {
    font-family: 'Rocky' !important;
    color: #4682B4 !important; /* Steel blue */
}

.cs-typing-indicator__dot {
    background-color: #4682B4 !important; /* Steel blue */
}

.ps__thumb-y {
    background-color: #4682B4 !important; /* Steel blue */
}

.ps__rail-y {
    background-color: #B0E0E6 !important; /* Powder blue */
}

.cs-message-input {
    font-weight: 600;
    font-size: 20px;
    background-color: #4682B4 !important; /* Steel blue */
    border-top: 0px !important;
}

.cs-message-input__content-editor-wrapper {
    background-color: #B0E0E6 !important; /* Powder blue */
}

.cs-message-input__content-editor {
    background-color: #B0E0E6 !important; /* Powder blue */
    color: #4682B4 !important; /* Steel blue */
}

.cs-button {
    color: #B0E0E6 !important; /* Powder blue */
}
