body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #4dccbd;
    padding-top: 20px;
    color: white;
    position: absolute;
    height: 97%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li#active {
    background-color: #3a9a8f;
}

.sidebar ul li#red {
    background-color: #e74c3c;
}

.sidebar ul li#red a {
    color: white;
}

.sidebar ul li#website-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    color: black;
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-content .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    margin: 0 0 10px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    font-size: 18px;
    margin-bottom: 5px;
}

.sort-button {
    background-color: #4dccbd;
}
    
.sort-button:hover {
    background-color: #3a9a8f;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-top: 20px;
}
