.productpage-product-container {
    display: flex;
    align-items: center;
  }
  
  .productpage-product-image {
    width: 500px;
    height: auto;
    margin-left: 200px;

  }
  
  .productpage-product-details {
    margin: 100px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .productpage-product-details button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 200px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top:50px
  }
  
  .productpage-product-details button:hover {
    background-color: #0056b3;
  }

  .link {
    text-decoration: none; /* Remove underline */
  }

  .star {
    font-size: 20px;
    color: lightgray;
  }
  
  .star.filled {
    color: gold;
  }
  
  .productpage-reviews {
    margin-left: 100px;
    color: black;
  }

  .review {
    margin-left: 30px;
  }

  .productpage-reviews button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .productpage-reviews button:hover {
    background-color: #0056b3;
  }