.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #4dccbd;
    color: white;
    padding: 10px;
    top: 65px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li#active a {
    font-weight: bold;
}

.main-content {
    width: 60%;
    padding: 20px 200px !important;
    overflow-y: auto;
}

.sort-buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4dccbd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sort-button:hover {
    background-color: #3a9a8f;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.card .edit-form input[type="text"],
.card .edit-form input[type="number"],
.card .edit-form textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4dccbd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #3a9a8f;
}

.form-buttons .cancel-button {
    background-color: #dc3545;
    margin-left: 10px;
}

.form-buttons .cancel-button:hover {
    background-color: #c82333;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.letters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.letters-list span {
    cursor: pointer;
    color: #4dccbd;
}

.letters-list span:hover {
    text-decoration: underline;
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    background-color: #4dccbd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.top-button:hover {
    background-color: #3a9a8f;
}
