.google_login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Optional: a light background color */
}

.google_login_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure elements stack vertically */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text within the container */
}

.login-with-google-text {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-align: center; /* Center text */
}